<p><b>Welcome To Hubrsione</b></p><br>
<p>Please confirm your email id by clicking on this</p>
{% if password_reset %}
<a href="http://{{domain}}{% url 'user:password_reset_email' email=email password_reset=password_reset%}">click here!!</a>
{% else %}
<a href="http://{{domain}}{% url 'user:confirm_email' email=email %}">click here!!</a>
{% endif %}
<p>Thankyou</p>